{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}


{% block custom_css %} 
<link rel="stylesheet" href="{% static 'css/accounts/login/style.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/login/responsive.css' %}">
{% endblock custom_css %}


{% comment %} ?--- Content ---* {% endcomment %}
{% block content %}


{% comment %}  {% endcomment %}
<section class="loginPage lightmode">

{% comment %}  {% endcomment %}


<div class="container">
    <div class="context_warpper">
        <div class="context">
            <div class="signin-signup">
                <form  class="sign-in-form form_tag" method="POST">
                    {% csrf_token %}
                    <h2 class="title">Sign in</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" name="username" id="id_login_username" value="">
                        {% comment %} <input type="text" placeholder="Username" name="username" id="id_login_username" value="{{ login_form.username.value }}"> {% endcomment %}
                        {% comment %} {% if login_form.username.errors %}
                            <div>{{ login_form.username.errors }}</div>
                        {% endif %} {% endcomment %}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" id="id_login_password" >
                        {% comment %} {% if login_form.password.errors %}
                             <div>{{ login_form.password.errors }}</div>
                        {% endif %} {% endcomment %}
                    </div>
                    {% comment %} <input type="submit" name="Login" value="Login" class="btn_submit"> {% endcomment %}
                    <button type="submit"  name="login"  class="btn_submit" >Login</button>
                    {% comment %} <p class="social-text">Or Sign in with social platform</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div> {% endcomment %}

                    <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
                </form>
                <form  class="sign-up-form form_tag" method="POST">
                    {% csrf_token %}
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        {% comment %} <input type="text" placeholder="Username" name="username" id="id_register_username" value="{{ register_form.username.value }}"> {% endcomment %}
                        <input type="text" placeholder="Username" name="username" id="id_register_username" value="">
                        {% comment %} {% if register_form.username.errors %}
                            <div>{{ register_form.username.errors }}</div>
                        {% endif %} {% endcomment %}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        {% comment %} <input type="email" placeholder="Email" name="email" id="id_register_email" value="{{ register_form.email.value }}"> {% endcomment %}
                        <input type="email" placeholder="Email" name="email" id="id_register_email" value="">
                        {% comment %} {% if register_form.email.errors %}
                            <div>{{ register_form.email.errors }}</div>
                        {% endif %} {% endcomment %}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password"  name="password1" id="id_register_password1">
                        {% if register_form.password1.errors %}
                            <div>{{ register_form.password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Confirm Password" name="password2" id="id_password2">
                    </div>
                    {% comment %} {% if register_form.password2.errors %}
                            <div>{{ register_form.password2.errors }}</div>
                    {% endif %} {% endcomment %}
                    {% comment %} <input type="submit" name="Register" value="Register" class="btn_submit"> {% endcomment %}
                    <button type="submit" name="register"  class="btn_submit">Sign up</button>

                    {% comment %} <p class="social-text">Or Sign in with social platform</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div> {% endcomment %}

                    <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>
                </form>
            </div>
            <div class="panels-container">
                <div class="panel left-panel">
                    <div class="content">
                        <h3>Member of Brand?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                        <button class="btn_submit" id="sign-in-btn">Sign in</button>
                    </div>
                    {% comment %} <img src="{% static 'assests/images/accounts/signin.svg' %}" alt="" class="image"> {% endcomment %}
                </div>
                <div class="panel right-panel">
                    <div class="content">
                        <h3>New to Brand?</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                        <button class="btn_submit" id="sign-up-btn">Sign up</button>
                    </div>
                    {% comment %} <img src="{% static 'assests/images/accounts/signup.svg' %}" alt="" class="image"> {% endcomment %}
                </div>
            </div>
        </div>

    </div>
</div>


{% comment %}  {% endcomment %}

</section>

{% comment %}  {% endcomment %}

{% endblock content %}
{% comment %} ?--- Content ---* {% endcomment %}

{% block custom_js %}
    <script src="{% static '/js/login/login.js' %}"></script>
{% endblock custom_js  %}