{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock title %}


{% block custom_css %} 
<link rel="stylesheet" href="{% static 'css/accounts/login/style.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/login/responsive.css' %}">
{% endblock custom_css %}


{% comment %} ?--- Content ---* {% endcomment %}
{% block content %}


{% endblock content %}
{% comment %} ?--- Content ---* {% endcomment %}

{% block custom_js %}
    <script src="{% static '/js/register/register.js' %}"></script>
{% endblock custom_js  %}