<!-- email_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <div class="container">
        <h1 class="user_title_msg">Welcome to Our Service!</h1>
        <p class="user_tag">Hi, dear </span> </p>
        {% comment %} <p class="user_tag">Hi, <span>{{ name }}</span> </p> {% endcomment %}
        <p>Thank you for joining our service. We’re excited to have you!</p>
        {% comment %} <a class="button" href="{{ url }}">Get Started</a> {% endcomment %}
    </div>
</body>
</html>